body 
{ 
  background: url('img/background3.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s ease;
}

nav{
  background: transparent !important;
  box-shadow: none;
}

/*

  Code display : CSS , JS , J$;

*/

a.active{
  background: rgba(0,0,0,.5) !important;
  transition: background-color 0.5s ease;
} 

.code ul
{

  counter-reset: li;

}

.code li::before 
{
  content: counter(li); 
  display: inline-block;
  width: 1em;
}

.code li 
{
  
  border-left: 3px solid white;
  border-bottom-left-radius:  5px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding: 5px;
  padding-left: 20px;  
  counter-increment: li;
  font-size: 12pt;
  font-family: cursive;
  background-color: rgba(255,255,255,0.5);
  color: rgba(255,255,255,.6);

}

.title
{
  
  font-family: cursive;
  color: white;
  font-size: calc(20px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.exp
{
  text-align: justify;
  text-indent: 10%;
  color: rgba(255,255,255,.9);
  padding: 20px;
}

h1,h2,h3,h4,h5
{
  font-family: cursive;
  color: white;
}

blockquote
{
  border-left-color: rgba(255,255,255,0.5);  
}


/*
  
  Examples : JS;
  
*/

#examples{

  position: absolute;
  left: -100%;
  transition: left 1.5s ease;

}

#resume{

  opacity: 1;
  transition: top 0.5s ease ,opacity 0.4s ease;

}

#pag{

  background-color: #0097a7;
  transition: background-color 0.4s ease;

}

