header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

body 
{ 
  background: url('../img/background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 0.5s ease;
}

main{
  margin-top: 5%;
}

/*

	CSS : Tutorial ;

*/

.sidenav
{

	background: rgba(255,255,255,.9);

}

.exp-2
{
  text-align: justify;
  text-indent: 10%;
  color: rgba(255,255,255,.9);
  padding: 20px;
  background: rgba(255,255,255,0.4);
  border-left: 5px solid #ef6e73;
  margin-top: 10px;
}

.exp
{
  margin-top: 1%;
  text-align: justify;
  text-indent: 10%;
  color: rgba(255,255,255,.9);
  padding: 20px;
  background: rgba(255,255,255,0.4);
}

.title
{
  
  margin-top: 1%;
  font-family: cursive;
  color: white;
  font-size: calc(25px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

}

.container span{
  text-indent: 20px;
}
